@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', serif;
    background-image: url("img/tiles/twinkle.svg");
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 10vw;
    margin-top: 1vw;
}

a {
    text-decoration: none;
    color: black;
}

#nav {
    text-align: center;
    position: fixed;
    padding-left: 10px;
}

#column {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
}

.box {
    width: 100%;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}
