@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', serif;
    margin: 0px;
    background-image: url("img/twinkle.svg");
    font-size: 18pt;
}

h1 {
    font-family: 'Open Sans';
    font-size: 36px;
}

a {
    text-decoration: none;
    color: color:#609aff;
}

.nav {
    text-align: center;
    width: 100%;
    color: black;
    margin-top: 0px;
    background-color: white;
}

.section {
    padding: 10px 20% 40px 20%;
}

.subsection {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
}

.subsection-item {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
    flex-basis:0;
    flex-grow:1
}

#title {
    font-family: 'Open Sans', sans-serif;
    font-size: 15vw;
    font-weight: bold;
    color: #609aff;
    text-align: center;
    width: 100%;
    padding-top: 40vh;
    margin: 0;
}

#about {
    background-color: white;
    padding-top: 100px
}

#coding {
    background-color: #FFA900
}

#other {
    background-color: #609AFF
}

#contact {
    background-color: black;
    color: white;
    padding-bottom: 100px;
}
