@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', serif;
    margin: 0px;
    background-image: url("img/twinkle.svg");
}

#title {
    font-family: 'Open Sans', sans-serif;
    font-size: 15vw;
    font-weight: bold;
    color: #609aff;
    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0;
}
h2 {
    font-family: 'Open Sans'
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    text-align: center;
    width: 100%;
    color: black;
    margin-top: 0px;
    font-size: 16px;
    background-color: white;
}

.section {
    padding: 10px 25% 10px 25%;
}
